# Carpetas de compilación
build/
build-*/

# Archivos temporales de CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Archivos temporales de objetos
*.o
*.d
moc_*.cpp
ui_*.h
qrc_*.cpp

# Varios
.DS_Store
